@model DevExpress.XtraReports.UI.XtraReport
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    @Html.DevExpress().WebDocumentViewer(settings =>
    {
        settings.Name = "webDocumentViewer";
        settings.ClientSideEvents.Init = "function(s,e){  s.GetPreviewModel().reportPreview.zoom(1);}";
    }).Bind(Model).GetHtml()
</section>


